body {
  background: url("http://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/bg-default.jpg") no-repeat center;
  background-attachment: fixed;
  margin: 0;
}
body .container {
  background: rgba(0,0,0,0.5);
  min-height: 100vh;
  padding-top: 50px;
}
body .row {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body .col {
  width: 280px;
  display: inline-block;
  margin-bottom: 30px;
  transition: all 0.5s;
}
body .col:hover {
  cursor: pointer;
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.5);
  -webkit-filter: brightness(1.5);
}
body .col .preview img {
  width: 100%;
}
body .col .bottom {
  background: rgba(0,0,0,0.6);
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
}
body .col .bottom .avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 14px;
}
body .col .bottom .avatar img {
  width: 100%;
}
body .col .bottom .intro {
  color: #fff;
}
body .col .bottom .intro .chanel_name {
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
}
