body{
background: url(http://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/bg-default.jpg) no-repeat center;
background-attachment: fixed;   
margin: 0;
}
.container{
background: rgba(0,0,0,0.5);
min-height: 100vh;   
}
.intro{
color:white;
}